@import 'src/vars.scss';

.i-bar{
    background-color: #272727;
    height: 100vh;
    box-shadow: $default-shadow;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    &__icon{
        width: 23px;
        height: 23px;
        color : rgb(195, 195, 195);
        margin: 12px 0px;
        cursor: pointer;
        &:hover{
            color: white;
        }
    }

    & .top {
        margin-bottom: auto;
    }
}