@import 'src/vars.scss';

.modal-content {
    box-shadow: $default-shadow;
    border: none;
}

.rs-picker-menu {
    z-index: 2000 !important;
}

.modal-window-form {
    display: flex;
    flex-direction: column;
}