@import 'src/vars.scss';

.artwork-gallery {
    display: flex;
    @include mobile-full-width;
    height: 100%;
    width: 100%;

    & .artworks-parent {
        @include flex-column;
        overflow-y: scroll;
    }
}