$cloudIconSize: 24px;

//TODO: QUE SEA BONITO

.cloud-notification {



    & .rs-notification-description {
        display: flex;
        display: flex;
        flex-direction: column;
        min-width: 300px;
    }

    &__element-name {
        font-size: 32px;
        font-weight: bold;
        // line-height: 24px;
        // text-transform: uppercase;
    }

    &__element-type {
        font-size: 12px;
        // font-weight: bold;
        font-style: italic;
        text-transform: uppercase;


    }

    &__action {
        display: flex;
        flex-direction: row;
        font-weight: bold;

        &__icon {
            width: $cloudIconSize;
            height: $cloudIconSize;
            margin-right: 8px;
            color: #219487;
        }

        &__text {
            margin-top: 1px;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
        }
    }

}