@import 'src/vars.scss';

.navbar {
    margin: 0;
    padding: 5px 20px;
    background-color: var(--bg-color);
    color: var(--font-color) !important;
    transition: 0.05s;
    box-shadow: $default-shadow;
    text-shadow: $default-text-shadow;

    &-nav {
        @include for-desktop {
            align-items: center;
        }
    }

    &__tabLink,
    &__brand,
    &__collapseButton {
        color: var(--font-color) !important;
    }

    &__tabLink {
        font-size: 1.2em;

        &.active,
        &:hover {
            font-weight: bold;
            text-decoration: none;
        }
    }

    &__brand {
        font-size: 1.5em;
        font-weight: 600;
        margin-right: 20px;
        text-transform: uppercase;
    }

    & .navbar-toggler-icon {
        // background-image: none;
        // TODO enlazar un svg local al que se le cambie el color
    }

    &__addTabButton {
        justify-self: flex-end;
        padding: 0;
        margin-top: 5px;
        width: 50px;


        & svg {
            border-color: rgba(0, 0, 0, 0);
            background-color: rgba(0, 0, 0, 0);
            font-size: 1.8em;
            vertical-align: center;
            color: var(--font-color);
            margin-bottom: 3px;
        }
    }

}