@import 'src/vars.scss';

.register-page,
.login-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('/img/bg/bg_new.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    @include mobile-full-width;

    @include for-mobile {
        @include flex-column;
    }

    &__slogan {
        @include yourfolio-font;
        font-size: 90px;
        font-weight: bold;
        margin-right: 10vw;
        margin-top: 50px;
        color: BLACK;
        text-shadow: 3px 3px rgba(255, 255, 255, 1),
            4px 4px 10px rgba(255, 255, 255, 0.469),
        ;
        text-align: right;
    }

    &__container {
        margin-top: 50px;
        margin-left: calc(33vw - 200px);
        width: 400px;
        @include mobile-full-width;


        @include flex-column;

        color: $secondary-color;


        h1 {
            @include yourfolio-font;
            // text-shadow: $default-shadow;
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 36px;
            color: $secondary-color;
            text-align: center;
        }

        &__form {
            width: 400px;
            @include paragraph-font;
            @include card;
            font-weight: 400;
            font-size: 16px;

            & .rs-form-group {
                margin-bottom: 20px;

                & .rs-form-control-label {}

                & label {
                    font-size: 14px;
                }

                & input {
                    font-weight: bold;
                    color: black;
                }
            }

            &__footer {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 0px;
                margin-top: 20px;

            }

            padding-bottom: 20px;

            &__bottom-text {
                margin-top: 20px;
                font-size: 15px;
                text-align: center;

                &>a {
                    color: $accent-color;

                    &:hover {
                        color: $dark-accent-color;
                        text-decoration: none;
                    }
                }

            }

        }

        button {
            @include paragraph-font;
            font-weight: 400;
            font-size: 16px;
            // background-color: black;
            box-shadow: $default-second-shadow;
            width: 100%;
        }
    }


}